<div>
    <header>
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-secondary btn-sm">To the main page</button>
    </header>
    <div class="info">
        <strong class="text-muted">Artyom Pankov</strong><br>
        <small class="text-muted">07.06.2022</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, blanditiis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, blanditiis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, blanditiis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, blanditiis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, blanditiis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, blanditiis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, blanditiis?</p>
    </div>
</div>
