<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
        <label for="title" class="form-label">
            <h3>Post title</h3>
        </label>
        <input type="text" class="form-control" id="title" formControlName="title"
            [ngClass]="{'is-invalid': form.controls['title'].invalid && form.controls['title'].touched}">
        <div class="invalid-feedback">
            Enter post title
        </div>
    </div>
    <label for="content">
        <h3>Post content</h3>
    </label>
    <quill-editor formControlName="content"></quill-editor>
    <br>
    <div class="mb-3">
        <label for="author" class="form-label">
            <h3>Author</h3>
        </label>
        <input type="text" class="form-control" id="author" formControlName="author"
            [ngClass]="{'is-invalid': form.controls['author'].invalid && form.controls['author'].touched}">
        <div class="invalid-feedback">
            Specify the author of the post
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Post</button>
</form>